*.pyc                                                                                                  
*.swp                                                                                                  
*.swo                                                                                                  
*-remote                                                                                               
*.log*
nohup.out
*.o
*.so                                                                                                   
*.d
*.exe

idea/

